.page-container {
  width: 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.errorClass {
  border-color: red !important;
}

#feedbackForm {
  text-overflow: wrap;
  padding: 5%;
  font-family: textFont;
  text-align: left;
  font-weight: 470;
  color: black;

  h4 {
    color: red;
    text-align: right;
    margin: 0px;
  }

  ::placeholder {
    font-family: textFont;
    font-size: 150%;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 12px;
    margin: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .subBtn {
    font-family: textFont;
    color: white;
    background-color: orange;
    border: none;
    font-size: 28px;
  }
}

@media only screen and (max-width: 513px) {
  .page-container {
    width: 80%;
    border-radius: 1%;
    background-color: #f2f2f2;
    padding: 5%;

    #feedbackForm {
      input,
      select,
      textarea {
        width: 90%;
        padding: 5%;
        margin: 5%;
        border-radius: 2%;
      }
    }
  }
}
